:8080 {
    request_body {
        max_size 1MB
    }

    @post_root {
        method POST
        path /
    }
    handle @post_root {
        respond "{http.request.body}" 200
    }

    handle /echo {
        root * /srv
        templates {
            mime text/plain
        }
        rewrite * /echo.html
        file_server
    }

    handle /cookie {
        root * /srv
        templates {
            mime text/plain
        }
        rewrite * /cookie.html
        file_server
    }

    respond "OK" 200
}
